<%= form_for(@playing, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <% if @playing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playing.errors.count, "error") %> prohibited this playing from being saved:</h2>

      <ul>
      <% @playing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :game, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :game %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :location, 'Where', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :location %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :content, 'Note', class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, size: '35x4' %>
    </div>
  </div>
  <div class="actions controls">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> Create playing
    <% end %>
  </div>
<% end %>
