<h2>What's play'n?</h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="well well-small">
      <div class="map-container">
        <div id="map-index"><%= image_tag "loading.gif" %></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% @playings.each do |playing| %>
  <div class="well well-small">
    <div class="row-fluid photo-row">
      <% unless playing.photo.url.blank? %>
      <div class="photo-thumb">
        <%= image_tag playing.photo.url, class: 'img-polaroid' %>
      </div>
      <% end %>
    </div>
    <div class="row-fluid">
      <div class="title span6">
        <h3><%= link_to playing.game, playing %></h3>
      </div>
      <div class="pull-right span3">
        <div class="pull-right toolbar">
          <% if user_signed_in? and current_user == playing.user %>
          <%= link_to glyph('edit') + ' Edit', edit_playing_path(playing), class: 'btn btn-mini btn-primary' %>
          <%= link_to glyph('remove') + ' Delete', playing, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row-fluid metadata">
      <%= playing.location %>,
      <%= distance_of_time_in_words_to_now(playing.created_at) %> ago
    </div>
    <div class="row-fluid content">
      <%= playing.content %>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[
    var positions = $.parseJSON('<%=j get_positions(@playings).to_json.html_safe %>');
    // ]]>
</script>
