<h2>What's play'n?</h2>
<div class="container-fluid">
  <div class="row">
    <div class="well well-sm">
      <div class="map-container">
        <div id="map-index"><%= image_tag "loading.gif" %></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% @playings.each do |playing| %>
  <div class="well well-sm">
    <div class="row photo-row col-md-12 center-block">
      <% unless playing.photo.url.blank? %>
      <div class="photo-thumb">
        <%= image_tag playing.photo.url, class: 'img-thumbnail center-block' %>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="title col-md-7">
        <h3><%= link_to playing.game, playing.short_id %></h3>
      </div>
      <div class="pull-right col-md-5">
        <div class="pull-right toolbar <%= playing.toolbar_class(current_user) %>">
          <% if playing.bgg_id.present? %>
            <%= link_to glyph('tower') + ' BGG',
              "http://boardgamegeek.com/boardgame/#{playing.bgg_id}",
              class: 'btn btn-xs btn-default' %>
          <% end %>
          <% if user_signed_in? && current_user.can_modify?(playing) %>
          <%= link_to glyph('edit') + ' Edit', edit_playing_path(playing), class: 'btn btn-xs btn-primary' %>
          <%= link_to glyph('remove') + ' Delete', playing, class: 'btn btn-xs btn-danger', data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row metadata">
      <div class="col-md-12">
        <%= playing.location %>,
        <%= distance_of_time_in_words_to_now(playing.created_at) %> ago
        <% if playing.user.present? && playing.user.name.present? %>
          by <%= playing.user.name %>
        <% end %>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-12">
        <%= playing.content %>
      </div>
    </div>
  </div>
  <% end %>
  <a href="?limit=<%= Playing.count %>">List all</a>
</div>

<%= javascript_tag do -%>
  window.positions = $.parseJSON('<%=j get_positions(@playings).to_json.html_safe %>');
<% end -%>
