<h1>What are people playing?</h1>
<p><%= link_to glyph('plus') + ' What are you playing?', new_playing_path, class: 'btn btn-primary' %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Game</th>
      <th>Where</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @playings.each do |playing| %>
    <tr>
      <td>
        <% if playing.has_location %>
          <%= link_to playing.game, playing %>
        <% else %>
          <%= playing.game %>
        <% end %>
      </td>
      <td><%= playing.location %></td>
      <td><%= playing.content %></td>
      <td>
        <div class="pull-right">
        <%= link_to glyph('globe') + ' Map', playing.map_link, target: '_blank', class: 'btn btn-mini btn-info' if playing.has_location %>
        <% if user_signed_in? and current_user == playing.user %>
        <%= link_to glyph('edit') + ' Edit', edit_playing_path(playing), class: 'btn btn-mini btn-primary' %>
        <%= link_to glyph('remove') + ' Delete', playing, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

