<h1>What are people playing?</h1>

<p><%= link_to 'What are you playing?', new_playing_path %></p>

<table>
  <tr>
    <th>Game</th>
    <th>Where</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playings.each do |playing| %>
  <tr>
    <td><%= playing.game %></td>
    <td><%= playing.location %></td>
    <td><%= playing.content %></td>
    <td><%= link_to 'Show', playing %></td>
    <% if user_signed_in? and current_user == playing.user %>
    <td><%= link_to 'Edit', edit_playing_path(playing) %></td>
    <td><% link_to 'Destroy', playing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

