<%= javascript_tag do -%>
  $(document).ready(function() {
    var geo = new GeoLocator("#map");
    geo.addMap([
      {
        coords: {
          latitude: Number('<%= @playing.latitude %>'),
          longitude: Number('<%= @playing.longitude %>')
        }
      }
    ])
  });
<% end -%>

<p>
  <b>Game:</b>
  <%= @playing.game %>
</p>

<p>
  <b>Where:</b>
  <%= @playing.location %>
</p>

<p>
  <b>Note:</b>
  <%= @playing.content %>
</p>

<div id="map">No position available.</div>

<!--
<#= link_to 'Edit', edit_playing_path(@playing) #> |
-->
<%= link_to 'Back', playings_path %>
