<%
content_for(:title) do
  @playing.summary(true)
end
content_for(:card) do
%>
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="Playn.it" />
  <meta name="twitter:title" content="<%= @playing.summary(true) %>" />
  <meta name="twitter:image" content="<%= @playing.photo.url %>" />
  <meta name="twitter:url" content="<%= short_url %>" />
<% end %>
<div class="playing container-fluid">
  <div class="well well-small">
    <div class="row-fluid">
      <% unless @playing.photo.url.blank? %>
      <div class="photo">
        <%= image_tag @playing.photo.url, class: 'img-polaroid' %>
      </div>
      <% end %>
    </div>
    <div class="row-fluid">
      <div class="title span6">
        <h3>
        <% if @playing.has_location %>
          <%= link_to @playing.game, @playing %>
        <% else %>
          <%= @playing.game %>
        <% end %>
        </h3>
      </div>
      <div class="pull-right span4">
        <div class="pull-right toolbar">
          <% if @playing.bgg_id %>
          <a href="http://boardgamegeek.com/boardgame/<%= @playing.bgg_id %>">[BGG]</a>
          <% end %>
          <% if user_signed_in? and current_user == @playing.user %>
          <%= link_to glyph('edit') + ' Edit', edit_playing_path(@playing), class: 'btn btn-mini btn-primary' %>
          <%= link_to glyph('remove') + ' Delete', @playing, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row-fluid metadata">
      <% if @playing.location? %><%= @playing.location %>,<% end %>
      <%= @playing.created_at.to_formatted_s(:short) %>
    </div>
    <div class="row-fluid content">
      <%= @playing.content %>
    </div>
    <div class="row-fluid">
      <div class="pull-right">
        <a href="https://twitter.com/share" class="twitter-share-button"
          data-url="<%= short_url %>"
          data-size="large" data-count="none"
          data-text="<%= @playing.summary(current_user == @playing.user) %>" data-dnt="true">Share on Twitter</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
    <div class="row-fluid">
      <div class="map-container">
        <div id="map-show">No position available.</div>
      </div>
    </div>
  </div>
</div>


<!--
<#= link_to 'Edit', edit_playing_path(@playing) #> |
-->
<%= link_to 'Back', playings_path %>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[
    var position = $.parseJSON('<%=j @playing.position.to_json.html_safe %>');
    // ]]>
</script>

