<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="playn.it social gaming checkins" />
    <meta name="keywords" content="social gaming, social, gaming, checkins" />
    <title><%= content_for?(:title) ? yield(:title) : "Playn.it - Social board game checkins" %></title>
    <%= csrf_meta_tags %>

    <%= yield(:card) if content_for?(:card) %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <%= nav_bar brand: 'Playn.it', brand_link: root_path, responsive: true do %>
      <%= menu_group do %>
        <% if user_signed_in? %>
          <%= menu_item glyph('user') + ' Edit profile', edit_user_registration_path %>
          <%= menu_item glyph('off') + ' Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= menu_item glyph('user') + ' Sign up', new_user_registration_path %>
          <%= menu_item glyph('off') + ' Login', new_user_session_path %>
        <% end %>
      <% end %>
      <%= menu_group pull: :right do %>
        <%= menu_item glyph('plus') + " Play'n it!", new_playing_path, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

    <div class="main-content container-fluid">
      <div id="flash-container">
        <%= bootstrap_flash %>
      </div>
      <%= yield %>
    </div>

    <footer>
      <p>&copy; Playn.it 2013-2025</p>
    </footer>

    </div> <!-- /container -->

    <a href="http://utopianrealms.org/dextral.php?pg=8792" style="display: none;">gala</a>
  </body>
</html>
